/* סגנון בסיסי לעיצוב הדף */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;

}

.container {
    display: flex; 
    justify-content: space-between; /* הפרדת העמודות */
    max-width: 1200px;
    margin: 20px auto; /* מרכוז הדף והפרדת הדפנות */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.search-column, .results-column {
    flex: 1; /* כל עמודה תקבל מקום שווה */
    margin: 10px;
}

/* סגנון לעמודת החיפוש */
.search-column {
    max-width: 300px; /* קביעת רוחב מקסימלי לעמודת החיפוש */
}

.search-section {
    margin-bottom: 20px;
}

.search-section label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.search-section select, .search-section button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-section button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.search-section button:hover {
    background-color: #0056b3;
}

.container2{
    text-align: center;
}
/* סגנון לעמודת התוצאות */
.results-column {
    display: flex;
    flex-direction: column;
    max-width: 850px; /* קביעת רוחב מקסימלי לעמודת התוצאות */
}

/* סגנון לרשימת המטפלים */
.therapist-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}

.therapist-item {
    width: 150px;
    background-color: #fff;
    padding: 10px;
    margin: 30px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out; /* אפקט מעבר */
}

.therapist-item:hover {
    transform: scale(1.05); /* הגדלה בעת ריחוף */
}

.therapist-name {
    font-weight: bold;
    font-size: 1.2em;
}

.therapist-info {
    margin: 5px 0;
}

/* סגנון לכפתור יציאה */
#log_out {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#log_out:hover {
    background-color: #c82333;
}
